{% extends 'layouts/layout.twig' %}
{% block title %}Setup{% endblock %}
{% set startpage = old.settings.startpage ? old.settings.startpage : settings.startpage %}

{% block content %}
	
	<div class="formWrapper">

			<section id="themes" class="themes">
			
				<header class="headline">
					<h1>{{ 'THEMES'|trans }}</h1>
					<a class="button" target="_blank" href="https://themes.typemill.net">{{ 'THEME_STORE'|trans }}</a>
				</header>
				
				{% for themeName, theme in themes %}
				
					<form method="POST" id="theme-{{ themeName }}" action="{{ path_for('themes.save') }}">
					
						<fieldset class="card{{ errors[themeName] ? ' errors' : '' }}">
						
							<div class="cardInner cardHead">
								
								{% if theme.img %}
									<img src="{{ base_url() }}/themes/{{themeName}}/{{themeName}}.jpg" />
								{% else %}
									<div class="no-preview">{{ 'NO_PREVIEW'|trans }}</div>
								{% endif %}
								
								<div class="cardContent">
									<div id="{{ themeName }}" class="fc-theme-version update-banner">{{ theme.version ? theme.version : 'Unknown'|upper|trans }}</div>
									
									<div class="cardDescription">
										<h2>{{ themeName }}</h2>
										<p>{{ theme.description }}</p>
										<ul class="cardInfo">
											<li>{{ theme.version ? theme.version : 'Unknown'|upper|trans }}</li><li>
											{{ theme.licence ? theme.licence : 'Unkown'|upper|trans }}</li><li>
											{{ 'BY'|trans }} {{ theme.author ? theme.author : 'Unknown'|upper|trans }}</li>{% if theme.homepage %}<li>
											<a href="{{ theme.homepage}}" target="blank">{{ 'WEB'|trans }}</a></li>{% endif %}
										</ul>
									</div>
								</div>
									
								<div class="cardInner cardFields{{ errors[themeName] ? ' open' : '' }}">
								
									{% for field in theme.forms.fields %}
										
										{% if field.type == 'fieldset' %}
											
											<fieldset class="subfield">
												<legend>{{ field.legend }}</legend>
												{% for field in field.fields %}
													{% include '/partials/fields.twig' with {'itemName' : themeName, 'object' : 'themes' } %}
												{% endfor %}
											</fieldset>
											
										{% else %}
										
											{% include '/partials/fields.twig' with {'itemName' : themeName, 'object' : 'themes' } %}
								
										{% endif %}
								
									{% endfor %}
									
								</div>
								<div class="button-box">
									<input type="hidden" name="theme" value="{{ themeName }}">
										
									<div class="medium">
										<button type="button" id="{{themeName}}-toggle" class="theme-button fc-settings{{ (settings.theme == themeName) ? ' active' : '' }}{{ theme.forms.fields|length > 0 ? ' has-settings' : ' no-settings'}}">{{ theme.forms.fields|length > 0 ? 'SETTINGS'|trans ~ ' <span class="button-arrow"></span>' : 'NO_SETTINGS'|trans }}</button>
									</div>
									<div class="medium">
										<input type="submit" id="{{themeName}}-submit" value="{{ 'SAVE_THEME'|trans }}" />
									</div>
								</div>								
							</div>
							
						</fieldset>
						
						{{ csrf_field() | raw }}

					</form>
				
				{% endfor %}

			</section>
			
	</div>
	
{% endblock %}