{% extends 'layouts/layout.twig' %}
{% block title %}User{% endblock %}

{% block content %}
	
	<div class="formWrapper">

		<form method="POST" action="{{ path_for('user.update') }}">
		
			<section id="user" class="settings">

				<header>
					<h1>Edit User</h1>
				</header>
				
				<fieldset class="auth">
				
					<div class="large{{ errors.username ? ' errors' : '' }}">
						<label for="username">Username <small>(not editable)</small></label>
						<input type="text" name="showusername" value="{{ old.username ? old.username : userdata.username }}" required disabled>
						<input type="hidden" name="username" value="{{ userdata.username }}">
						{% if errors.username %}
							<span class="error">{{ errors.username | first }}</span>
						{% endif %}
					</div>
					
					<div class="large{{ errors.email ? ' errors' : '' }}">
						<label for="email">E-Mail <abbr title="required">*</abbr></label>
						<input type="text" name="email" value="{{ old.email ? old.email : userdata.email }}" required>
						{% if errors.email %}
							<span class="error">{{ errors.email | first }}</span>
						{% endif %}
					</div>

					<div class="large{{ errors.userrole ? ' errors' : '' }}">
						<label for="userrole">Role <abbr title="required">*</abbr></label>
						<select name="userrole" required>
							{% for role in userrole %}
								<option value="{{ role }}"{% if (role == old.userrole or role == userdata.userrole) %} selected{% endif %}>{{ role }}</option>
							{% endfor %}
						</select>
						{% if errors.userrole %}
							<span class="error">{{ errors.userrole | first }}</span>
						{% endif %}
					</div>					
					
					<div class="large{{ errors.password ? ' errors' : '' }}">
						<label for="password">Actual Password</label>
						<input type="password" name="password">
						{% if errors.password %}
							<span class="error">{{ errors.password | first }}</span>
						{% endif %}
					</div>

					<div class="large{{ errors.newpassword ? ' errors' : '' }}">
						<label for="newpassword">New Password</label>
						<input type="password" name="newpassword">
						{% if errors.newpassword %}
							<span class="error">{{ errors.newpassword | first }}</span>
						{% endif %}
					</div>
					
				</fieldset>

			</section>
			<input type="submit" value="Save User" />

			{{ csrf_field() | raw }}
			<div class="actionLink">
				<a href="#" id="openModal" class="openModal">Delete User</a>
			</div>
		</form>		
	</div>
	
	<div id="modalWindow" class="modal">
		<div class="modalInner">
			<div id="closeModal" class="closeModal">X</div>
			<form method="POST" action="{{ path_for('user.delete') }}">
				<h2>Delete {{ userdata.username }}</h2>
				<p>Do you really want to delete the user {{userdata.username}}? Please confirm.</p>
				<input type="hidden" name="username" value="{{userdata.username}}">
				<input type="submit" value="Delete user">
				{{ csrf_field() | raw }}
			</form>
		</div>
	</div>
	
	
{% endblock %}