{% extends 'layouts/layout.twig' %}
{% block title %}{{ __('User') }}{% endblock %}

{% block content %}
	
	<div class="formWrapper">

		<section id="users" class="settings">

			<header class="headline">
				<h1>{{ __('All Users') }} </h1>
			</header>
			
			<ul class="userlist">
				<li class="row header">
					<ul>
						<li class="col username">{{ __('Username') }}</li><li 
							class="col userrole">{{ __('Role') }}</li><li 
							class="col email">{{ __('E-Mail') }}</li><li 
							class="col edit">{{ __('Edit') }}</li>
					</ul>
				</li>
				{% for user in userdata %}
				
					<li class="row">
						<ul>
							<li class="col username">{{ user.username }}</li><li 
								class="col userrole">{{ __(user.userrole) }}</li><li 
								class="col email">{{ user.email }}</li><li 
								class="col edit"><a href="{{ path_for('user.show', {'username' : user.username }) }}">{{ __('edit') }}</a></li>
						</ul>
					</li>
				
				{% endfor %}
			</ul>
			
			<div class="medium">
				<a class="button" href="{{ path_for('user.new') }}">{{ __('Create New User') }}</a>
			</div>
		</section>
		
	</div>
	
{% endblock %}

{% block javascript %}

	<script src="{{ base_url }}/system/author/js/vue-userlist.js"></script>

{% endblock %}