{% extends 'layouts/layoutContent.twig' %}
{% block title %}{{ translate('Visual Editor') }}{% endblock %}

{% block content %}

	<div id="initial-content" class="px-12 py-8" v-pre>
			
		{% for block in content %}
				<div class="blox-preview px-6 py-3 mb-1">{{ block.html|raw }}</div>
		{% endfor %}

	</div>
		
	<div id="editor" class="px-12 py-8 bg-stone-50 shadow-md mb-16" v-cloak></div>

	<div id="publisher" class="fixed bottom-0 w-54rem bg-stone-100 border-t border-stone-200 shadow-md" v-cloak></div>

{% endblock %}


{% block javascript %}

	<script src="{{ base_url() }}/system/typemill/author/js/vue-blox-config.js?v={{ settings.version }}"></script>
	<script src="{{ base_url() }}/system/typemill/author/js/vue-blox.js?v={{ settings.version }}"></script>
<!--	<script src="{{ base_url() }}/system/typemill/author/js/vue-translate.js?v={{ settings.version }}"></script>		-->
	<script src="{{ base_url() }}/system/typemill/author/js/vue-blox-components.js?v={{ settings.version }}"></script>
	<script src="{{ base_url() }}/system/typemill/author/js/vue-publisher.js?v={{ settings.version }}"></script>
	<script>

		// add translation to global config here...
		bloxeditor.mount('#editor');
		publisher.mount('#publisher');
	
	</script>

{% endblock %}