<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="description" content="Setup your TYPEMILL website">
		
		<link rel="stylesheet" href="{{ base_url }}/system/author/css/normalize.css" />
		<link rel="stylesheet" href="{{ base_url }}/system/author/css/style.css" />
		<link rel="stylesheet" href="{{ base_url }}/system/author/css/color-picker.min.css" />
	</head>
	<body>
		<div class="main">
			{% block content %}{% endblock %}
		</div>
		<script src="{{ base_url }}/system/author/js/color-picker.min.js"></script>
		<script src="{{ base_url }}/system/author/js/author.js"></script>
	</body>
</html>