{% extends '/layout.twig' %}
{% block title %}Setup{% endblock %}
{% set startpage = old.settings.startpage ? old.settings.startpage : settings.startpage %}

{% block content %}
	
	<div class="formWrapper">

		<form method="POST" action="{{ base_url() }}/setup">
			
			<section>

			<header>
				<h1>Settings</h1>
				<input type="submit" value="save all" />
			</header>
			
			<fieldset>
			
				<div class="medium{{ errors.settings.title ? ' error' : '' }}">
					<label for="settings[title]">Website Title *</label>
					<input type="text" name="settings[title]" id="title" pattern=".{2,20}" required title="Use 2 to 20 characters." value="{{ old.settings.title ? old.settings.title : settings.title }}" />
					{% if errors.settings.title %}
						<span class="error">{{ errors.settings.title | first }}</span>
					{% endif %}
				</div><div class="medium{{ errors.settings.author ? ' error' : '' }}">
					<label for="settings[author]">Author</label>
					<input type="text" name="settings[author]" id="author" pattern="[^()/><\]\{\}\?\$@#!*%ยง=[\\\x22;:|]{2,40}" value="{{ old.settings.author ? old.settings.author : settings.author }}" title="Use 2 to 40 characters. Only the following special characters are allowed: a,b a.b a-b a_b a&b a+b" />
					{% if errors.settings.author %}
						<span class="error">{{ errors.settings.author | first }}</span>
					{% endif %}
				</div><div class="medium{{ errors.settings.copyright ? ' error' : '' }}">
					<label for="settings[copyright]">Copyright/Licence</label>
					<select name="settings[copyright]" id="copyright">
						{% for copy in copyright %}
							<option value="{{ copy }}"{% if copy == old.settings.copyright %} selected{% endif %}>{{ copy }}</option>
						{% endfor %}
					</select>
					{% if errors.settings.copyright %}
						<span class="error">{{ errors.settings.copyright | first }}</span>
					{% endif %}
				</div><div class="medium{{ errors.settings.year ? ' error' : '' }}">
					<label for="settings[year]">Year *</label>
					<input type="text" name="settings[year]" id="year" value="{{ old.settings.year ? old.settings.year : "now"|date("Y") }}" pattern="[0-9]{4}" required title="Use a valid year, e.g. 2017" />
					{% if errors.settings.year %}
						<span class="error">{{ errors.settings.year | first }}</span>
					{% endif %}
				</div><div class="medium{{ errors.settings.theme ? ' error' : '' }}">
					<label for="settings[theme]">Theme</label>
					<select name="settings[theme]" id="themeSwitch">
						{% for theme in themes %}
							<option value="{{ theme }}"{% if theme == old.settings.theme %} selected{% endif %}>{{ theme }}</option>
						{% endfor %}
					</select>
					{% if errors.settings.theme %}
						<span class="error">{{ errors.settings.theme | first }}</span>
					{% endif %}
				</div><div class="medium">
					<span class="label">Startpage</span>
					<label class="control-group">Startpage is designed as landing-page.
						<input name="settings[startpage]" type="checkbox" id="startpage"{{ startpage ? ' checked' : '' }}>
						<span class="checkmark"></span>
					</label>
				</div>				
				
				<div class="large">
					<img id="themePrev" src="{{ base_url() }}/themes/typemill/typemill-large.jpg">
				</div>
			</fieldset>

			</section>
			
			<section>
			<header>
				<h2>Plugins</h2>
				<input type="submit" value="save all" />
			</header>
			
			{% for pluginName,plugin in plugins %}
			
				<fieldset class="plugin{{ errors[pluginName] ? ' errors' : '' }}">
					<div class="pluginInner pluginHead">
						<header>
							<legend>{{ pluginName }}</legend>							
							<div class="pluginActive">
								<label class="control-group">Active
									<input type="checkbox" class="fc-active" name="{{pluginName}}[active]"{% if plugin.settings.active %} checked {% endif %}>
									<span class="checkmark"></span>
								</label>
							</div>
						</header>

						<p>{{ plugin.description ? plugin.description : 'No description' }}</p>
						
						<ul class="pluginInfo">
							<li id="{{ pluginName }}" class="fc-plugin-version">{{ plugin.version ? plugin.version : 'Unknown' }}</li><li>
							{{ plugin.licence ? plugin.licence : 'Unkown' }}</li><li>
							by {{ plugin.author ? plugin.author : 'Unknown' }}</li>{% if plugin.homepage %}<li>
							<a href="{{ plugin.homepage}}" target="blank">Web</a></li>{% endif %}
						</ul>
					<div class="pluginInner pluginFields{{ errors[pluginName] ? ' open' : '' }}">
						{% for field in plugin.forms.fields %}
												
						<div class="pluginField{{ errors[pluginName][field.name] ? ' error' : '' }}">
							<label for="{{ pluginName }}[{{ field.name }}]">{{ field.getLabel() }}
								{% if field.getAttribute('required') %}<strong><abbr title="required">*</abbr></strong>{% endif %}
								{% if field.help %}<div class="help">?<span class="tooltip">{{field.help|slice(0,100)}}</span></div>{% endif %}
							</label>
							
							{% if field.type == 'textarea' %}
							
								<textarea name="{{ pluginName }}[{{ field.name }}]"{{field.getAttributeValues() }}{{ field.getAttributes() }}>{{ field.getContent() }}</textarea>
							
							{% elseif field.type == 'checkbox' %}
											
								<label class="control-group">{{ field.description }}
									<input type="checkbox" name="{{pluginName}}[{{ field.name }}]"{{ field.getAttributeValues() }}{{ field.getAttributes() }}>
									<span class="checkmark"></span>
								</label>							
							
							{% elseif field.type == 'checkboxlist' %}

								{% set options = field.getOptions() %}
								
								{% for value,label in options %}
											
									<label class="control-group">{{ label }}
										<input type="checkbox" name="{{pluginName}}[{{ field.name }}]" value="{{value}}">
										<span class="checkmark"></span>
									</label>
											
								{% endfor %}
							
							{% elseif field.type == 'select' %}
							
								{% set options = field.getOptions() %}
								
								<select name="{{pluginName}}[{{ field.name }}]"{{field.getAttributeValues() }}{{ field.getAttributes() }}>
									{% for value,label in options %}
										<option value="{{ value }}">{{ label }}</option>
									{% endfor %}
								</select>
																																							
							{% elseif field.type == 'radio' %}
								
								{% set options = field.getOptions() %}

								{% for value,label in options %}

									<label class="control-group">{{ label }}
										<input type="radio" name="{{pluginName}}[{{ field.name }}]" value="{{value}}">
										<span class="radiomark"></span>
									</label>
								
								{% endfor %}
								
							{% else %}
							
								<input name="{{pluginName}}[{{ field.name }}]" type="{{ field.type }}"{{ field.getAttributeValues() }}{{ field.getAttributes() }}>
							
							{% endif %}
							
							{% if errors[pluginName][field.name] %}
								<span class="error">{{ errors[pluginName][field.name] | first }}</span>
							{% endif %}
							
						</div>
						{% endfor %}
					</div>
						<button type="button" class="fc-settings{{ plugin.settings.active ? ' active' : '' }}">{{ plugin.forms.fields|length > 0 ? 'Settings' : 'No Settings'}}</button>
					</div>
				</fieldset>
				
			{% endfor %}
			
			</section>
			
			<input type="submit" value="save all" />

			{{ csrf_field() | raw }}
			
		</form>
	
	</div>
	
{% endblock %}