<form method="POST" action="{{ path_for('settings.save') }}">

	<fieldset>

		<div class="medium{{ errors.contact.name ? ' error' : '' }}">
			<label for="contact[name]">{{ name }} *</label>
			<input type="text" name="contact[name]" id="name" pattern=".{2,20}" required title="Use 2 to 20 characters." value="{{ old.contact.title ? old.contact.name : contact.name }}" />
			{% if errors.contact.title %}
				<span class="error">{{ errors.contact.name | first }}</span>
			{% endif %}
		</div>
		<div class="medium{{ errors.contact.email ? ' error' : '' }}">
			<label for="contact[email]">{{ email }} *</label>
			<input type="text" name="contact[email]" id="email" pattern=".{2,20}" required title="Use 2 to 20 characters." value="{{ old.contact.email ? old.contact.email : contact.email }}" />
			{% if errors.contact.title %}
				<span class="error">{{ errors.contact.email | first }}</span>
			{% endif %}
		</div>
		<div class="medium{{ errors.contact.subject ? ' error' : '' }}">
			<label for="contact[email]">{{ subject }} *</label>
			<input type="text" name="contact[subject]" id="subject" pattern=".{2,20}" required title="Use 2 to 20 characters." value="{{ old.contact.subject ? old.contact.subject : contact.subject }}" />
			{% if errors.contact.title %}
				<span class="error">{{ errors.contact.email | first }}</span>
			{% endif %}
		</div>
		<div class="medium{{ errors.contact.message ? ' error' : '' }}">
			<label for="contact[email]">{{ message }} *</label>
			<input type="textfield" name="contact[message]" id="message" pattern=".{2,20}" required title="Use 2 to 20 characters." value="{{ old.contact.message ? old.contact.message : contact.message }}" />
			{% if errors.contact.title %}
				<span class="error">{{ errors.contact.message | first }}</span>
			{% endif %}
		</div>
		<small>{{ hint }}</small>
		
	</fieldset>
	
	<input type="submit" value="{{ button }}" />
	{{ csrf_field() | raw }}	

</form>