<nav id="sidebar-menu" class="sidebar-menu">
	<div id="mobile-menu" class="menu-action">{{ __('Menu') }} <span class="button-arrow"></span></div>
	<ul class="list pa0 ma0">

		{% for name,navitem in navigation %}
			{% if acl.isAllowed(get_role(), navitem.aclresource, navitem.aclprivilege) %}
				<li class="pb1"><a class="link dark-gray hover-bg-white bl bw2 b--near-white hover-b--tm-green pa2 dib w-100{{ navitem.active ? ' active' : '' }}" href="{{ path_for(navitem.routename) }}"><svg class="icon baseline {{ navitem.icon }} mr2"><use xlink:href="#{{ navitem.icon }}"></use></svg> {{ __(name) }}</a></li>
			{% endif %}
		{% endfor %}

	</ul>
</nav>