<nav class="header-navi">
	<div class="logo">
		<a href="#">Typemill</a>
	</div>
	<ul class="navi-items">
		<li><a href="{{ path_for('content.show') }}"{{ navigation ? 'class="active"' : '' }}><i class="icon-doc-text"></i><span class="nav-label"> Content</span></a></li><li>
			<a href="{{ path_for('settings.show') }}"{{ users ? 'class="active"' : '' }}><i class="icon-cog"></i><span class="nav-label">  Settings</span></a></li><li>
			<a href="{{ base_url }}"><i class="icon-link-ext"></i><span class="nav-label">  Website</span></a></li><li>
			<a href="{{ path_for('auth.logout') }}"><i class="icon-off"></i><span class="nav-label">  Logout</span></a></li>
	</ul>
</nav>