<div class="f6 pv3 w-100 flex-l justify-between">

	<div class="mw6">
		<a class="link f-link underline-hover" href="{{ base_url }}">{{ settings.title }}</a>

		{% for crumb in breadcrumb %}
			&nbsp; &#x203A; &nbsp;  
			{% if loop.last %}
				{{ crumb.name }}
			{% else %}
				<a class="link f-link underline-hover" href="{{ crumb.urlRel }}">{{ crumb.name }}</a>
			{% endif %}
		{% endfor %}
	</div>
	<div class="dn dib-l">
		{% if item.prevItem %}
			<a class="link pr1 f-link underline-hover" href="{{ item.prevItem.urlRel }}">&lsaquo;&nbsp; {{ settings.themes.cyanine.previous|default('previous') }}</a>
		{% endif %}
		{% if item.nextItem %}
			<a class="link pl1 f-link underline-hover" href="{{ item.nextItem.urlRel }}">{{ settings.themes.cyanine.next|default('next') }} &nbsp;&rsaquo;</a>
		{% endif %}					
	</div>
</div>