{% macro loop_over(navigation) %}

    {% import _self as macros %}

    {% for element in navigation %}
	
		{% set depth = element.keyPathArray|length %}
		
        {% if element.activeParent %}
			<li class="{{ element.elementType }} level-{{ depth }} active parent">
		{% elseif element.active %}
			<li class="{{ element.elementType }} level-{{ depth }} active">
		{% else %}
			<li class="{{ element.elementType }} level-{{ depth }}">
		{% endif %}
            {% if (element.elementType == 'folder') %}
				<a href="{{ element.urlAbs }}">{{ element.name }}</a>		
                <ul>
                    {{ macros.loop_over(element.folderContent) }}
                </ul>
            {% else %}
				<a href="{{ element.urlAbs }}">{{ element.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

<ul>
    {{ macros.loop_over(navigation) }}
</ul>