{% macro loop_over(navigation,chapnum) %}

    {% import _self as macros %}

    {% for element in navigation %}
	
		{% set depth = element.keyPathArray|length %}
		
        {% if element.activeParent %}
			<li class="{{ element.elementType }} level-{{ depth }} active parent">
		{% elseif element.active %}
			<li class="{{ element.elementType }} level-{{ depth }} active">
		{% else %}
			<li class="{{ element.elementType }} level-{{ depth }}">
		{% endif %}
            {% if (element.elementType == 'folder') %}
				<a href="{{ element.urlAbs }}">{% if chapnum %}{{ element.chapter }}. {% endif %}{{ element.name }}</a>
		{% if (element.folderContent|length > 0) %}	
                <ul>
                    {{ macros.loop_over(element.folderContent,chapnum) }}
                </ul>
		{% endif %}
            {% else %}
				<a href="{{ element.urlAbs }}">{% if chapnum %}{{ element.chapter }} {% endif %}{{ element.name }}</a>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as macros %}

<ul>
    {{ macros.loop_over(navigation,settings.themes.typemill.chapnum) }}
</ul>
