{% extends 'layouts/layoutSystem.twig' %}
{% block title %}{{ translate('System Settings') }}{% endblock %}

{% block content %}
	
	<h1 class="text-3xl font-bold mb-4">{{ translate('System') }} <span class="text-xs font-normal text-stone-700">version {{settings.version}}</span></h1>
	
	<div id="system" v-cloak></div>

{% endblock %}

{% block javascript %}

	<script src="{{ base_url() }}/system/typemill/author/js/highlight.min.js?v={{ settings.version }}"></script>
	<script src="{{ base_url() }}/system/typemill/author/js/vue-system.js?v={{ settings.version }}"></script>
	<script src="{{ base_url() }}/system/typemill/author/js/vue-forms.js?v={{ settings.version }}"></script>
	<script>
		app.config.globalProperties.$filters = translatefilter;
		app.mount('#system');
	</script>

{% endblock %}
