{% extends 'layouts/layoutSystem.twig' %}
{% block title %}{{ translate('Theme Settings') }}{% endblock %}

{% block content %}
	
	<h1 class="text-3xl font-bold mb-4">{{ translate('Themes') }} </h1>

	<div id="themes" v-cloak></div>

{% endblock %}

{% block javascript %}

	<script src="{{ base_url() }}/system/typemill/author/js/vue-themes.js?v={{ settings.version }}"></script>		
	<script src="{{ base_url() }}/system/typemill/author/js/vue-translate.js?v={{ settings.version }}"></script>		
	<script src="{{ base_url() }}/system/typemill/author/js/vue-shared.js?v={{ settings.version }}"></script>
	<script>
		app.mount('#themes');
	</script>

{% endblock %}
