{% extends 'layouts/layoutSystem.twig' %}
{% block title %}{{ translate('Account') }}{% endblock %}

{% block content %}
	
	<h1 class="text-3xl font-bold mb-4">{{ translate('User') }} </h1>
	
	<div id="account" v-cloak></div>

{% endblock %}

{% block javascript %}

	<script src="{{ base_url() }}/system/typemill/author/js/vue-user.js?v={{ settings.version }}"></script>
	<script src="{{ base_url() }}/system/typemill/author/js/vue-forms.js?v={{ settings.version }}"></script>
	<script>
		app.config.globalProperties.$filters = translatefilter;
		app.mount('#account');
	</script>

{% endblock %}
