{% set pages = ( item.folderContent|length / 2)|round(0, 'ceil') %}
{% set currentpage = currentpage ? currentpage : 1 %}
{% set currentposts = (currentpage - 1) * 2 %}

<ul class="post list pa0">

	{% for element in item.folderContent|slice(currentposts, 2) %}

		{% set post = getPageMeta(settings, element) %}
		{% set date = element.order[0:4] ~ '-' ~ element.order[4:2] ~ '-' ~ element.order[6:2] %}

		<li class="post-entry">
			<header>
				<a class="link f-link underline-hover" href="{{ element.urlAbs }}"><h2 class="mt4 mb2">{{ post.meta.title }}</h2></a>
				<div class="mt3"><small><time datetime="{{date}}">{{ date | date("d.m.Y") }}</time> | {{ post.meta.author }}</small></div>
			</header>
			<p>{{ post.meta.description }}</p>
		</li>

	{% endfor %}

	{% if pages > 1 %}
		<hr class="mv4">
		<p>Page: 
			{% for i in 1 .. pages %}
				{% if i == currentpage %}
					{{i}}
				{% else %}
					<a class="page" href="{{ item.urlAbs }}/p/{{i}}">{{i}}</a>
				{% endif %}
			{% endfor %}
		</p>
	{% endif %}

</ul>