{% extends 'layouts/layoutAuth.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

	<div class="flex justify-end">
		
		<div class="bg-teal-600 text-white min-h-screen w-1/2 flex justify-center items-center">
			<div class="max-w-md content-center">
			
				<form method="POST" action="{{ url_for("auth.reset") }}" autocomplete="off">
				
					<fieldset class="">

						<div class="my-2 {{ errors.password ? ' errors' : '' }}">
							<label for="password">{{ 'Password'|translate }} <abbr title="{{ 'required'|translate }}">*</abbr></label>
							<input 
								type="password" 
								name="password" 
								value="{{ old.password }}" 
								class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
							required>
							{% if errors.password %}
								<span class="">{{ errors.password|first }}</span>
							{% endif %}
						</div>

						<div class="my-2 {{ errors.passwordrepeat ? ' errors' : '' }}">
							<label for="passwordrepeat">{{ 'Repeat password'|translate }} <abbr title="{{ 'required'|translate }}">*</abbr></label>
							<input 
								type="password" 
								name="passwordrepeat" 
								value="{{ old.passwordrepeat }}" 
								class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
							required>
							{% if errors.passwordrepeat %}
								<span class="">{{ errors.passwordrepeat|first }}</span>
							{% endif %}
						</div>

						<input type="hidden" name="recovertoken" value="{{recovertoken}}">
						<input type="hidden" name="username" value="{{username}}">
						
						<div class="personal-mail hidden">
							<label>Personal Mail</label>
							<input type="text" name="personal-honey-mail">
						</div>

						<input 
							type="submit" 
							value="{{ 'Create new password'|translate }}" 
                      		class="block w-full mt-6 px-3 py-3 border-0 font-medium text-xs leading-tight uppercase border-2 border-stone-50 text-stone-50 pointer hover:bg-stone-50 hover:text-stone-800 cursor-pointer focus:outline-none focus:ring-0 transition duration-100 ease-in-out"
						/>

					</fieldset>

				</form>	
			</div>
		</div>
		
		<div class="content-center w-1/2 flex justify-center items-center">
			<div class="max-w-md content-center">
				<h1 class="text-4xl py-5">Forgot your password?</h1>
				<p class="py-1">No problem, simply create a new one on the left.</p> 
				<p class="py-1">Want to stay save with your passwords? Here are some tips:</p>
				<ul class="list-disc pl-4 py-1">
					<li>Let the password manager of your browser remember your passwords.</p>
					<li>If you don't want to rely on your browser, use a separate password manager like keepass or others.</li>
					<li>Last but not least: Do not use the same password for several applications.</li>
				</ul>
			</div>
		</div>
	
	</div>
{% endblock %}