{% set published = metatabs.meta.manualdate ? metatabs.meta.manualdate : metatabs.meta.modified %}

<main class="{{ item.elementType }} w-100 bg-secondary pb5 bl br bb b--primary">

	<div class="w-100 mw8 center grid-container">

		<aside class="grid-header ph3 pv3">
					
			<header>
						
				<div class="logo">
					<p class="pa0 ma0">
						<a class="link f1 fw9 f-primary {{ settings.themes.cyanine.fontheadline|default('tm-sans-serif') }}" href="{{ base_url }}" title="My Title">						
							{% if logo %}
								<img src="{{ logo }}" class="logo-image"/>
							{% else %}
								{{ settings.title }}
							{% endif %}
						</a>
					</p>
				</div>
					
			</header>

		</aside>

		<div class="grid-main ph3 ph4-l pv3 lh-copy f4 fw3">

			<nav>
				{% include 'partials/breadcrumb.twig' %}
			</nav>

			<article>
				<header>
				
					<h1 class="{{ settings.themes.cyanine.fontheadline|default('tm-sans-serif')  }}">{{ title }}</h1>
	
					{% if (settings.themes.cyanine.datePosition.top or settings.themes.cyanine.authorPosition.top or settings.themes.cyanine.gitPosition.top) %}	
						<div class="f5 pv1 flex justify-between">
							<div class="byline">
								{% if settings.themes.cyanine.datePosition.top %}
									<time pubdate datetime="{{ published }}" class="pr2">{{ settings.themes.cyanine.dateIntro }} {{ published|date(settings.themes.cyanine.dateFormat)  }}</time>
								{% endif %}
								{% if settings.themes.cyanine.authorPosition.top %}
									<adress class="pr2">{{ settings.themes.cyanine.authorIntro }} {{ metatabs.meta.author|default(settings.author) }}</adress>
								{% endif %}
							</div>
							{% if settings.themes.cyanine.gitPosition.top %}
								<a class="link" title="edit on github" href="{{ settings.themes.cyanine.gitLink }}{{ item.path }}">{{ settings.themes.cyanine.editText }}</a>
							{% endif %}
						</div>
					{% endif %}
				</header>

				{{ content }}

				{% if (settings.themes.cyanine.datePosition.bottom or settings.themes.cyanine.authorPosition.bottom or settings.themes.cyanine.gitPosition.bottom) %}	
					<div class="f5 pv1 flex justify-between">
						<div class="byline">
							{% if settings.themes.cyanine.datePosition.bottom %}
								<time pubdate datetime="{{ published }}" class="pr2">{{ settings.themes.cyanine.dateIntro }} {{ published|date(settings.themes.cyanine.dateFormat)  }}</time>
							{% endif %}
							{% if settings.themes.cyanine.authorPosition.bottom %}
								<adress class="pr2">{{ settings.themes.cyanine.authorIntro }} {{ metatabs.meta.author|default(settings.author) }}</adress>
							{% endif %}
						</div>
						{% if settings.themes.cyanine.gitPosition.bottom %}
							<a class="link" title="edit on github" href="{{ settings.themes.cyanine.gitLink }}{{ item.path }}">{{ settings.themes.cyanine.editText }}</a>
						{% endif %}
					</div>
				{% endif %}

			</article>

			{% if item.elementType == 'file' %}

				{% if item.prevItem or item.nextItem %}

					<div class="f5 pv5 flex justify-between {{ settings.themes.cyanine.fontnavi|default('tm-sans-serif') }}">
						{% if item.prevItem %}
							<a class="link pv2 ph3 bg-primary white dim" href="{{ item.prevItem.urlRel }}">&lsaquo;&nbsp; {{ item.prevItem.name }}</a>
						{% endif %}
						{% if item.nextItem %}
							<a class="link pv2 ph3 bg-primary white dim" href="{{ item.nextItem.urlRel }}">{{ item.nextItem.name }} &nbsp;&rsaquo;</a>
						{% endif %}
					</div>

				{% endif %}
			
			{% endif %}

			{% if item.elementType == 'folder' and item.contains == 'pages' %}

				<nav class="f4">				
					{% include 'partials/navigationFlat.twig'  with {'flatnavi': item.folderContent} %}
				</nav>

			{% endif %}

			{% if item.elementType == 'folder' and item.contains == 'posts' %}

				{% include 'partials/posts.twig' %}

			{% endif %}

		</div>

		<aside class="grid-sidebar ph3 pv4">

			<nav class="contentnav" aria-label="Menu">

				<!-- burger menu controlled by invisible checkbox -->
	  			<input type="checkbox" id="burger" class="dn">
	  			<label for="burger" class="burgerbutton">&#9776;</label>	

				{% include 'partials/navigation.twig' %}

			</nav>

		</aside>

	</div>

</main>