<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="description" content="Welcome to your new TYPEMILL website" />
		<meta name="robots" content="noindex" />
		
		<meta name="msapplication-TileColor" content="#F9F8F6" />
		<meta name="msapplication-TileImage" content="{{ base_url }}/system/author/img/favicon-144.png" />
		<link rel="icon" type="image/png" href="{{ base_url }}/system/author/img/favicon-16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="{{ base_url }}/system/author/img/favicon-32.png" sizes="32x32" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ base_url }}/system/author/img/favicon-72.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ base_url }}/system/author/img/favicon-114.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="{{ base_url }}/system/author/img/favicon-144.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="{{ base_url }}/system/author/img/favicon-180.png" />

		<link rel="stylesheet" href="{{ base_url }}/system/author/css/style.css?20210320" />

		{{ assets.renderCSS() }}
		
	</head>
	<body>
		{% include 'partials/symbols.twig' %}

		{% include 'partials/flash.twig' %}
		<div class="main">
			
			{% block content %}{% endblock %}

		</div>
		<script src="{{ base_url }}/system/author/js/auth.js?20210320"></script>
	</body>
</html>