<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="description" content="Configure your TYPEMILL website"/>

		<base href="{{ base_url }}/">
		
		<meta name="msapplication-TileColor" content="#F9F8F6" />
		<meta name="msapplication-TileImage" content="{{ base_url }}/system/author/img/mstile-144x144.png" />		
		<link rel="icon" type="image/png" href="{{ base_url }}/system/author/img/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ base_url }}/system/author/img/favicon-16x16.png" sizes="16x16" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ base_url }}/system/author/img/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ base_url }}/system/author/img/apple-touch-icon-152x152.png" />		
		
		<link rel="stylesheet" href="{{ base_url }}/system/author/css/fontello/css/fontello.css" />
		<link rel="stylesheet" href="{{ base_url }}/system/author/css/normalize.css" />
		<link rel="stylesheet" href="{{ base_url }}/system/author/css/style.css" />
		<link rel="stylesheet" href="{{ base_url }}/system/author/css/color-picker.min.css" />
	</head>
	<body>	
		<header class="main-header">
			{% include 'partials/navi.twig' %}
		</header>
		{% include 'partials/flash.twig' %}
		<div class="main" id="main" data-url="{{ base_url }}">
			<aside class="sidebar">
				{% include 'partials/aside.twig' %}
			</aside>
			<article>
				{% block content %}{% endblock %}
			</article>
			<footer></footer>
		</div>
		<script src="{{ base_url }}/system/author/js/color-picker.min.js?20181203"></script>
		<script src="{{ base_url }}/system/author/js/author.js?20181203"></script>
	</body>
</html>