{% extends 'layouts/layoutEditor.twig' %}
{% block title %}Content{% endblock %}

{% block content %}
	
	<div class="formWrapper">

		<div id="editor" class="editor">
			<form action="#" v-cloak>
			
				<section>
				
					<fieldset>
						<div class="large" :class="{'error' : errors.title}">
							<label for="title">Title*</label>
							<input @input="changeContent" id="title" name="title" type="text" v-model="form.title" value="{{title}}" required />
							<span class="error" v-if="errors.title">${ errors.title }</span>
						</div>
						<div class="large" :class="{'error' : errors.content}">
							<label for="content">Content*</label>
								<textarea id="content" v-model="form.content" @input="changeContent" @keyup.enter="submit" required>{{ content }}</textarea>
							<span class="error" v-if="errors.content">${ errors.content }</span>
						</div>
						<input id="path" type="hidden" value="{{ item.urlRel }}" required readonly />
					</fieldset>
					
				</section>
					
				<div class="buttonset" id="publishController" data-published="{{ item.published }}" data-drafted="{{ item.drafted }}">
					<div v-if="errors.message" class="message error">${ errors.message }</div>
					<button @click.prevent="saveDraft" id="draft" :class="draftResult" :disabled="draftDisabled"><span class="desktop">Save&nbsp;</span>Draft</button><button @click.prevent="publishDraft" id="publish" :class="publishResult" :disabled="publishDisabled">Publish</button>
					<div class="secondary">
						<div class="secondary--block">
							<button @click.prevent="depublishArticle" class="button--secondary button--secondary__hightlight" :disabled="publishStatus"><span class="desktop">${publishLabel}</span><span class="mobile">ON</span></button><button @click.prevent="showModal" class="button--secondary"><span class="desktop">delete</span><span class="mobile">X</mobile></button>
						</div>
						<!--
						<div class="secondary--block">
								<button class="button--secondary">md help</button>
								<button class="button--secondary">raw mode</button>
						<div> 
						-->
					</div>
				</div>
				<div id="modalWindow" :class="modalWindow">
					<div class="modalInner">
						<div @click="hideModal" id="closeModal" class="closeModal">X</div>
						<h2>Delete page</h2>
						<p>Do you really want to delete this page? Please confirm.</p>
						<button @click.prevent="deleteArticle" class="large" :class="deleteResult" :disabled="deleteDisabled">Delete Page</button>
					</div>
				</div>
			</form>
		</div>

		{{ csrf_field() | raw }}
		
	</div>
	
{% endblock %}