{% extends 'layouts/layoutBlox.twig' %}
{% block title %}Visual Content Editor{% endblock %}

{% block content %}
	
	<div class="formWrapper">
		
		<section id="blox">
			
			<div class="blox-body">
			
				<content-block class="title" :body="false">
					<div class="blox title" @click="setData( $event, 'text-markdown')" data-id="0" id="blox-0">{{ title }}</div>
				</content-block>

				<div id="sortblox">
				
					{% for id, block in content %}
						<content-block :body="true">
							<div class="blox" @click="setData( $event, 'textarea-markdown' )" data-id="{{ id }}" id="blox-{{id}}">{{block}}</div>
						</content-block>
					{% endfor %}

					<content-block :body="true" v-for="newBlock in newBlocks"><div class="blox" @click="setData( $event, 'textarea-markdown' )" :data-id="newBlock.id" :id="newBlock.blockId" v-html="newBlock.content"></div></content-block>
				
				</div>
				
				<div class="format-bar">
					<content-block :body="false">
						<button class="format-item" @click="setData( $event, 'textarea-markdown' )" data-id="99999" id="blox-99999"><i class="icon-font"></i></button>
					</content-block>
				</div>
				
			</div>
			
		</section>

		{% include 'editor/publish-controller.twig' %}
				
		<input id="path" type="hidden" value="{{ item.urlRel }}" required readonly />
		{{ csrf_field() | raw }}
		
	</div>
	
{% endblock %}