{% extends '/partials/layoutCover.twig' %}

{% block title %}{{ settings.title }}{% endblock %}

{% block content %}
	
	<div class="lead">

		{{ content }}

		<a href="{{ navigation[0].urlRel }}">{{ settings.themes.typemill.start ? settings.themes.typemill.start : 'Start'}}</a>
		
		{% if settings.setup  %}
			<a href="{{ base_url }}/setup">Setup</a>
		{% endif %}
		
	</div>
	
{% endblock %}