{% extends '/partials/layoutCover.twig' %}

{% block content %}

	<h1>{{ title }}</h1>

	<div class="lead">

		{{ content }}
		
		<div class="actionLink">
			<a href="{{ navigation[0].urlRel }}">{{ settings.themes.typemill.start ? settings.themes.typemill.start : __('Start')}}</a>
			
			{% if settings.setup  %}
				<a href="{{ base_url }}/setup">{{ __('Setup') }}</a>
			{% endif %}
		</div>
	</div>
	
{% endblock %}