{% extends '/partials/layoutCover.twig' %}

{% block content %}

	{% if logo and settings.themes.typemill.coverlogo %}

		<img src="{{ logo }}" alt="logo {{title}}" class="coverlogo"/>
	
	{% else %}

		<h1 class="coverheadline">{{ title }}</h1>

	{% endif %}

	<div class="lead">

		{{ content }}
		
		<div class="actionLink">
			<a href="{{ navigation[0].urlRel }}">{{ settings.themes.typemill.start ? settings.themes.typemill.start : __('Start')}}</a>
			
			{% if settings.setup  %}
				<a href="{{ base_url }}/setup">{{ __('Setup') }}</a>
			{% endif %}
		</div>
	</div>
	
{% endblock %}