{% extends '/partials/layoutCover.twig' %}

{% block content %}

	<h1>{{ title }}</h1>

	<div class="lead">

		{{ content }}
		
		<div class="actionLink">
			<a href="{{ navigation[0].urlRel }}">{{ settings.themes.typemill.start ? (settings.themes.typemill.start)|upper|trans : 'Start'|trans }}</a>
			
			{% if settings.setup  %}
				<a href="{{ base_url }}/setup">{{ 'SETUP'|trans }}</a>
			{% endif %}
		</div>
	</div>
	
{% endblock %}