{% if content is empty %}

	<h1>{{ item.name }}</h1>

{% endif %}

<h1>{{ title }}</h1>
	
{{ content }}

{% if settings.themes.typemill.modified %}
	<p><small>{{ settings.themes.typemill.modifiedText }}: {{ item.modified|date(settings.themes.typemill.modifiedFormat) }}</small></p>
{% endif %}

{% if settings.themes.typemill.social %}	
	{% include 'partials/share.twig' with {'share' : settings.themes.typemill.socialbuttons } %}
{% endif %}
	
{% if item.prevItem or item.nextItem %}

	<div class="paging">
		{% if item.prevItem %}
			<span class="prev"><a href="{{ item.prevItem.urlRel }}"><i class="icon-left-open-big"></i> {{ item.prevItem.name }}</a></span>
		{% endif %}
		{% if item.nextItem %}
			<span class="next"><a href="{{ item.nextItem.urlRel }}">{{ item.nextItem.name }} <i class="icon-right-open-big"></i></a></span>
		{% endif %}
	</div>

{% endif %}	
