	<section class="bg-secondary w-100 dib tc bl br bb b--primary">
		
		<div class="mw7 pv6 ph3 center flex-m flex-l justify-between">
			<div class="mw5 center ml0-l mr0-l mv4 dib">
				<h2 class="f2 {{ settings.themes.cyanine.fontheadline|default('tm-sans-serif') }}">{{ settings.themes.cyanine.teaser1title }}</h2>
				<p class="f5 f4-ns fw3 lh-copy">{{ settings.themes.cyanine.teaser1text }}</p>
				<a href="{{ settings.themes.cyanine.teaser1link }}" class="w-100 dib link pa3 ma1 dark-gray hover-white hover-bg-dark-gray ba b--dark-gray {{ settings.themes.cyanine.fontnavi|default('tm-sans-serif') }}">{{ settings.themes.cyanine.teaser1label }}</a>
			</div>
			<div class="mw5 center ml0-l mr0-l mv4 dib">
				<h2 class="f2 {{ settings.themes.cyanine.fontheadline|default('tm-sans-serif') }}">{{ settings.themes.cyanine.teaser2title }}</h2>
				<p class="f5 f4-ns fw3 lh-copy">{{ settings.themes.cyanine.teaser2text }}</p>
				<a href="{{ settings.themes.cyanine.teaser2link }}" class="w-100 dib link pa3 ma1 dark-gray hover-white hover-bg-dark-gray ba b--dark-gray {{ settings.themes.cyanine.fontnavi|default('tm-sans-serif') }}">{{ settings.themes.cyanine.teaser2label }}</a>
			</div>
		</div>

	</section>