	<section class="bg-secondary w-100 dib tc bl br bb b--primary">
		
		<div class="mw8 pv6 ph3 center">

			<h2 class="f2 {{ settings.themes.cyanine.fontheadline|default('tm-sans-serif') }}">{{ settings.themes.cyanine.newsHeadline }}</h2>

			{% set pagelist = getPageList(navigation, settings.themes.cyanine.newsFolder, base_url) %}

			{% if pagelist.contains == 'pages' %}

				<ul class="flex-l justify-between pa0">

					{% for element in pagelist.folderContent|slice(0, 3) %}

						{% set page = getPageMeta(settings, element) %}

						<li class="db list tl pa0 w-100 mh0 mv2 mh2-l bg-white">
							<a class="link dark-gray mv4" href="{{ element.urlAbs }}">
								<div class="db h4-5 overflow-hidden">
									<img class="db w-100" src="{{ page.meta.heroimage }}" alt="{{ page.meta.heroimagealt }}">
								</div>
								<div class="pa2 ph3-ns pb3-ns">
									<h3 class="{{ settings.themes.cyanine.fontheadline|default('tm-sans-serif') }}">{{ page.meta.title }}</h3>
									<p class="f5 lh-copy">{{ page.meta.description|length > 80 ? page.meta.description|slice(0, 81)|split(' ')|slice(0, -1)|join(' ') ~ '…' : page.meta.description }}</p>
								</div>
							</a>
						</li>

					{% endfor %}

				</ul>

			{% elseif pagelist.contains == 'posts' %}

				<ul class="flex-l justify-between pa0">

					{% for element in pagelist.folderContent|slice(0, 3) %}

						{% set post = getPageMeta(settings, element) %}
						{% set date = element.order[0:4] ~ '-' ~ element.order[4:2] ~ '-' ~ element.order[6:2] %}

						<li class="db list tl pa0 w-100 mh0 mv2 mh2-l bg-white shadow-2-hover">

							<a class="link dark-gray mv4" href="{{ element.urlAbs }}">
								<div class="db h4-5 overflow-hidden">
									<img class="db w-100" src="{{ post.meta.heroimage }}" alt="{{ post.meta.heroimagealt }}">
								</div>
								<div class="pa2 ph3-ns pb3-ns">
									<h3 class="{{ settings.themes.cyanine.fontheadline|default('tm-sans-serif') }}">{{ post.meta.title }}</h3>
									<small class="f6 gray"><time datetime="{{date}}">{{ date | date("d.m.Y") }}</time> | {{ post.meta.author }}</small>
									<p class="f5 lh-copy">{{ post.meta.description|length > 80 ? post.meta.description|slice(0, 81)|split(' ')|slice(0, -1)|join(' ') ~ '…' : post.meta.description }}</p>
								</div>
							</a>
						</li>

					{% endfor %}
				
				</ul>

			{% endif %}	
			
			<a href="{{ settings.themes.cyanine.newsFolder }}" class="dib link pa3 ma1 dark-gray hover-white hover-bg-dark-gray ba b--dark-gray">{{ settings.themes.cyanine.newsLabel }}</a>

		</div>

	</section>
