	<section class="bg-primary white w-100 dib tc bl br bb b--primary">

		<div class="mw7 pv6 ph3 center">
			<h2 class="f2 {{ settings.themes.cyanine.fontheadline|default('tm-sans-serif') }}">{{ settings.themes.cyanine.contrastTitle }}</h2>
			<p class="f5 f4-ns fw3 lh-copy">{{ settings.themes.cyanine.contrastText }}</p>
			<a class="link ba b--white bg-primary white dim ph4 pv3 mt3 dib {{ settings.themes.cyanine.fontnavi|default('tm-sans-serif') }}" href="{{ settings.themes.cyanine.contrastLink }}">{{ settings.themes.cyanine.contrastLabel }}</a>
		</div>

	</section>
